{% extends "base.html" %}
{% load static %}
{% block title %}Annotation image{% endblock %}
{% block css  %}
  <link rel="stylesheet" href="{% static 'css/annotationImage.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/core.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
{% endblock %}
{% block bodyCustom %}
<body onload="loadImageOnStart();">
{% endblock %}
{% block content %}
<h2>{{ image.name }}</h2>
<!--<div class="imageContainer">
  <img class="object-fit-cover" src="{{ image.image.url }}"/>
</div>-->
<div onload="loadImageOnStart();">
  <div id="jsoda-menu">
    <p id="jsoda-box-list"></p>
    <!--<input type="file" onchange="loadImage(this)" style="display: none"/>-->
    <!--<input type="button" value="Upload" onclick="clickInputFile()" />-->
    {% if user.is_staff %}
      <input type="file" id="fileinput" style="display: none" />
      <input type="button" value="Upload" onclick="clickInputFile()" />
    {% endif %}
    <input type="button" value="Download" onclick="download()" />
  </div>
  <div id="jsoda-workspace">
    <canvas id="jsoda-canvas"></canvas>
    <img id="jsoda-image" src="{{ image.image.url }}"></img>
  </div>
</div>
{% endblock %}
{% block javascriptAnnex  %}
  <script src="{% static 'js/core.js' %}"></script>
  <script src="{% static 'js/util.js' %}"></script>
{% endblock %}
