{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block css  %}
  <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
{% endblock %}
{% block content %}
  <h1>Annotation</h1>
  <p>Les images suivantes sont prêtes à être annotées. Cliqué sur le lien au-dessus d'une image pour accéder à la page d'annotation</p>
  <div class="wrapper">
  {% for image in imagesObj %}
    <div class="annotationContainer">
    	<h4 class="imageName">{{ image.name }}</h4>
      <p><a href="{% url 'annotationImage' image.id %}">Commencer l'annotation</a></p>
      <div class="imageContainer">
        <img class="object-fit-cover" src="{{ image.image.url }}"/>
      </div>
    </div>
  {% empty %}
    <p>Aucune image.</p>
  {% endfor %}
  </div>
{% endblock %}
