<!DOCTYPE html>
<html lang="fr">
  {% extends "base.html" %}
  {% load static %}
  {% block title %}Annotation{% endblock %}
  {% block loginuser %}
    {% if user.is_authenticated %}
      Hello {{ user.username }}!
      <p><a href="{% url 'logout' %}">logout</a></p>
      {% else %}
      <p>You are not logged in : <a href="{% url 'login' %}">login</a></p>
    {% endif %}
  {% endblock %}
  {% block content %}
    <h1>Annotation</h1>
    <p>Sélectionnez un tag de déchêts, cliquez sur le déchêts correspondant sur l'image</p>
  {% endblock %}
</html>
