{% extends "base.html" %}
{% load static %}
{% block title %}Annotation{% endblock %}
{% block css  %}
  <link rel="stylesheet" href="{% static 'css/newImage.css' %}">
{% endblock %}
{% block content %}
  {% if user.is_staff %}
    <div id="divNewImage">
      <h2>Ajouter une image au site</h1>
      {% if isSave %}
        <p>Cette image a bien été enregistré.</p>
      {% endif %}
      <div>
          <form id="formsNewImage" action="{% url "newimage" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div id="formNewImageButtondiv">
              <input type="submit" value="Submit" />
            </div>
          </form>
      </div>
    </div>
  {% else %}
    <h2> Vous êtes un utilisateur standard, vous ne devriez pas être ici ...</h2>
  {% endif %}
{% endblock %}
