
#jsoda-menu {
  position: absolute;
  margin-top: 9%;
  margin-bottom: 5%;
  top: 0%;
  right: 77%;
  bottom: 0%;
  left: 10%;
  padding: 10px;
  background-color: LightSteelBlue ;
}
#jsoda-menu > input {
  margin: 10px;
  padding: 10px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  width: 150px;
  display: block;
  background-color: DodgerBlue;
  transition: all 0.1s linear;
  color: white;
  cursor: pointer;
}
#jsoda-menu > input:hover {
  background-color: DeepSkyBlue;
}

#jsoda-box-list {
  margin: 25px 0px 25px 0px;
  padding: 10px;
}

#jsoda-workspace {
  position: absolute;
  top: 18%;
  right: 0%;
  bottom: 0%;
  left: 25%;
  overflow: auto;
  width: 55%; /*any size*/
  height: 75%; /*any size*/
}

#jsoda-image {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#jsoda-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
