<!DOCTYPE html>
<html lang="fr">
{% load static %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<head>
  <meta charset="utf-8">
  <title>{% block title %}WAI{% endblock %}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Sonsie One' rel='stylesheet'>
  {% block css  %}{% endblock %}
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">-->
  <!--<script src="script.js"></script>-->
</head>
{% block bodyCustom %}
<body>
{% endblock %}
  <header class="header">
    <img src="{% static 'img/headerWAI.jpg' %}" alt="HeaderWai jpg" class="headerimg" />
    <h1 class="headerText">Waste Annotation Image</h1>
    <p class="usermenu">
      {% block loginuser %}
        {% if user.is_authenticated %}
          Bonjour {{ user.username }}!
          <p><a class="loginlink" href="{% url 'logout' %}">logout</a>
          {% if user.is_staff %}
              <a href="{% url 'newimage' %}">manage image</a></p>
          {% endif %}
          {% else %}
          <p>You are not logged in : <a href="{% url 'login' %}">login</a></p>
        {% endif %}
      {% endblock %}
    </p>
  </header>
  <section id="content">
    {% block content %}
      <h2>Il n'y a rien sur cette page</h2>
    {% endblock %}
  </section>
  {% block javascriptAnnex  %}{% endblock %}
  <footer class="footer">
    <div class="container">
      <div id="ftr-wrap">
        <div class="copyright">
          <p>&copy; WAI 2018</p>
        </div>
        <div class="about">
          {% block aboutfooter %}
            <a href="{% url "about"%}">About</a>
          {% endblock %}
        </div>
        <div>
          <img src="{% static 'img/logoIng.png' %}" alt="logoHEARC png" class="footerimg" />
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
